<div class="row"  ng-controller="BookController">
	<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
			<li role="presentation" class="active"><a href="javascript:void(0);" ng-click="changeType('')" >全部</a></li>
			<li role="presentation" ><a href="javascript:void(0);" ng-click="changeOrder('bookId')">序号</a></li>
			<li role="presentation"><a href="javascript:void(0);" ng-click="changeType('小莫')">小莫</a></li>
			<li role="presentation"><a href="javascript:void(0);" ng-click="changeType('大漠')">大漠</a></li>
		</ul>
	</div>
	<div class="col-md-10">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>序号</th>
                <th>名称</th>
                <th>作者</th>
                <th>日期</th>
                <th>定价</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="books in books | orderBy:orderId | filter:bookType">
                <td ng-bind="books.bookId"></td>
                <td ng-bind="books.name"></td>
                <td ng-bind="books.author"></td>
                <td ng-bind="books.pubTime"></td>
                <td ng-bind="books.price | currency:'￥'"></td>
                <td><a href="javascript:void(0);">详情</a></td>
            </tr>
            </tbody>
        </table>
	</div>
</div>